In [37]:
import pandas as pd

In [38]:
spotify2000 = pd.read_csv('../lab-not-hot-songs/Spotify-2000.csv')
spotify2000

,Index,Title,Artist,Top Genre,Year,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,1,Sunrise,Norah Jones,adult standards,2004,157,30,53,-14,11,68,201,94,3,71
1,2,Black Night,Deep Purple,album rock,2000,135,79,50,-11,17,81,207,17,7,39
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001,168,69,66,-9,7,52,341,2,17,69
3,4,The Pretender,Foo Fighters,alternative metal,2007,173,96,43,-4,3,37,269,0,4,76
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002,106,82,58,-5,10,87,256,1,3,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,1990,Heartbreak Hotel,Elvis Presley,adult standards,1958,94,21,70,-12,11,72,128,84,7,63
1990,1991,Hound Dog,Elvis Presley,adult standards,1958,175,76,36,-8,76,95,136,73,6,69
1991,1992,Johnny B. Goode,Chuck Berry,blues rock,1959,168,80,53,-9,31,97,162,74,7,74
1992,1993,Take Five,The Dave Brubeck Quartet,bebop,1959,174,26,45,-13,7,60,324,54,4,65
1993,1994,Blueberry Hill,Fats Domino,adult standards,1959,133,50,49,-10,16,83,148,74,3,56

In [39]:
spotify_raw = spotify2000.copy()
spotify_raw

,Index,Title,Artist,Top Genre,Year,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,1,Sunrise,Norah Jones,adult standards,2004,157,30,53,-14,11,68,201,94,3,71
1,2,Black Night,Deep Purple,album rock,2000,135,79,50,-11,17,81,207,17,7,39
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001,168,69,66,-9,7,52,341,2,17,69
3,4,The Pretender,Foo Fighters,alternative metal,2007,173,96,43,-4,3,37,269,0,4,76
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002,106,82,58,-5,10,87,256,1,3,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,1990,Heartbreak Hotel,Elvis Presley,adult standards,1958,94,21,70,-12,11,72,128,84,7,63
1990,1991,Hound Dog,Elvis Presley,adult standards,1958,175,76,36,-8,76,95,136,73,6,69
1991,1992,Johnny B. Goode,Chuck Berry,blues rock,1959,168,80,53,-9,31,97,162,74,7,74
1992,1993,Take Five,The Dave Brubeck Quartet,bebop,1959,174,26,45,-13,7,60,324,54,4,65
1993,1994,Blueberry Hill,Fats Domino,adult standards,1959,133,50,49,-10,16,83,148,74,3,56

In [40]:
spotify = spotify_raw.iloc[:, [1,2]]
spotify

                       Title                    Artist
0                    Sunrise               Norah Jones
1                Black Night               Deep Purple
2             Clint Eastwood                  Gorillaz
3              The Pretender              Foo Fighters
4     Waitin' On A Sunny Day         Bruce Springsteen
...                      ...                       ...
1989        Heartbreak Hotel             Elvis Presley
1990               Hound Dog             Elvis Presley
1991         Johnny B. Goode               Chuck Berry
1992               Take Five  The Dave Brubeck Quartet
1993          Blueberry Hill               Fats Domino

[1994 rows x 2 columns]

In [41]:
spotify = spotify.rename(columns={'Title': 'song', 'Artist': 'artist'})
spotify

                        song                    artist
0                    Sunrise               Norah Jones
1                Black Night               Deep Purple
2             Clint Eastwood                  Gorillaz
3              The Pretender              Foo Fighters
4     Waitin' On A Sunny Day         Bruce Springsteen
...                      ...                       ...
1989        Heartbreak Hotel             Elvis Presley
1990               Hound Dog             Elvis Presley
1991         Johnny B. Goode               Chuck Berry
1992               Take Five  The Dave Brubeck Quartet
1993          Blueberry Hill               Fats Domino

[1994 rows x 2 columns]

In [42]:
hot100=pd.read_csv('hot100.csv',index_col=0) 
hot100

                           song                                artist
0                       Flowers                           Miley Cyrus
1                     Kill Bill                                   SZA
2                      Creepin'  Metro Boomin, The Weeknd & 21 Savage
3                     Anti-Hero                          Taylor Swift
4                        Unholy                Sam Smith & Kim Petras
..                          ...                                   ...
95                      Hey Mor                  Ozuna Featuring Feid
96                Gato de Noche                Nengo Flow & Bad Bunny
97               Heart To Heart                           Mac DeMarco
98  Never Gonna Not Dance Again                                  P!nk
99       Dancin' In The Country                         Tyler Hubbard

[100 rows x 2 columns]

In [43]:
spotify.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1989    False
1990    False
1991    False
1992    False
1993    False
Length: 1994, dtype: bool

In [44]:
hot100['song'].isin(spotify['song']).value_counts()

False    98
True      2
Name: song, dtype: int64

In [45]:
pd.merge(hot100, spotify, on=['song'], how='inner')

          song            artist_x        artist_y
0  Do It Again  NLE Choppa & 2Rare      Steely Dan
1        Human        Cody Johnson     The Killers
2        Human        Cody Johnson  Rag'n'Bone Man

- There is no duplicated song in these two dataframes.

In [47]:
spotify.to_csv('not_hot.csv', index = False)